$primaryColor: rgba(140, 68, 248, 1);
$secondaryColor: rgba(255, 77, 103, 1);

$first_gradient: rgb(56, 119, 255);
$second_gradient: rgb(138, 175, 255);

$bgColor: #f6f7f9;
$sidebarBgColor: #fff;
$sidbarActiveBg: rgb(95, 130, 245);
$sidbarHoverBg: rgb(118, 147, 246);
$sidbarItemBg: #fff;

$header: #fff;
$header_text: #000;

$side_hover_background: #e3e2df;
$app_background: #fff;

$blue: #409eff;
$red: #f56c6c;
$green: #67c23a;
$yellow: #e6a23c;
$white: #fff;

$success: rgb(10, 146, 71);
$pending: rgb(53, 124, 255);
$fail: rgb(247, 112, 112);

$title: rgb(66, 66, 66);
